<style>
  .card {
      width: 600px;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  }

  .btn {
      padding: 10px 30px;
      font-size: 1.1rem;
  }

  .form-label {
      font-size: 1.2rem;
      color: #5a5a5a;
  }

  .form-control {
      border-radius: 5px;
      height: 50px;
      font-size: 1.1rem;
  }

  @media (max-width: 768px) {
      .card {
          width: 90%;
          padding: 20px;
      }
  }
</style>

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card shadow">
      <div class="card-body">
          <form>
              <div class="mb-3">
                  <h2 class="text-dark text-muted text-center">Login</h2>
              </div>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email" placeholder="johndoe@example.com">
              </div>
              <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password" placeholder="********">
              </div>
              <button type="button" class="btn btn-info w-100" (click)="login()">Login</button>
              <div class="row mt-2">
                  <div class="col-md-6">
                    <p>Don't have an account?</p>
                      <a href="/register" style="text-decoration: none;"><span class="register">Register</span></a>
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col-md-12">
                      <button mat-button class="w-100 mt-2" style="padding: 1rem; background-color:#fefeff; color:rgb(0, 0, 0);" (click)="SignInWithGoogle()">
                          <mat-icon style="width: 50px; height:30px" svgIcon="logo"></mat-icon> Login With Google
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
